#main{
    display: flex;
    background-color: beige;
    height:300px;
    width:300px;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    height:700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#b{
    padding-top: 10px;
    padding-left: 100px;
}