.container{
    width:100%;
}
.navbar{
 margin-top:20px;
}
.navbar img{
    margin-left:20px;
}
.navbar img:hover{
    transform:scale(1.1);
}
.navbar input{
    margin-left:40px;
    height:30px;
    width:300px;
}
.naming{
    display: flex;
    float:right;
    margin-right:40px;
}
.naming h3{
font-size:14px;
font-weight:50;
margin-left:10px;
}
.naming h3:hover{
    transform:scale(1.1);
}
.nav2
{
    background-color: #ffbe0b;
    height:50px;
    margin-top:10px;
    margin-right:0px;
    margin-left:0px;
    display:flex;
}
.nav2 h3{
    margin-left:20px;
    text-transform: uppercase;
    font-size:16px;
    font-weight:10;
}
.nav2 img{
    margin-left:15px;
    margin-top:10px;
}
.nav3 img:hover
{
opacity: 0.3;
}
.page
{
    background-color:#e3d5ca;

}
.cards
{
 display: flex;
 margin-left: 30px;
 margin-left: 30px;
 margin-top:50px;
}
.row1
{
    margin-left:30px;
    background-color: white;
    text-align: center;
    font-family: cursive;
}
.row1 img{
    height:350px;
    width:360px;
    margin:20px;
    
}
.row1 img:hover
{
    transform:scale(1.1);
}
button{
    background-color: black;
    color:white;
    padding:7px;
    margin-bottom: 7px;
}
button:hover{
    transform:scale(1.1);
    
}